{% extends 'base.html' %}
{% block section %}
	<!--================Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="overlay bg-parallax" data-stellar-ratio="2" data-stellar-vertical-offset="0" data-background=""></div>
			<!-- <div class="overlay overlay-bg"></div> -->
			<div class="container">
				<div class="banner_content text-center">
					<p class="top-text">Welcome to</p>
					<h1>Radisson</h1>
					<p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eaque tenetur minus numquam dicta beatae nulla quos error debitis aut animi necessitatibus, et, explicabo amet consequuntur quibusdam nihil quisquam quas.</p>
					<a class="play-btn" href="https://youtu.be/OHvXGUTSMKI?si=ssGu2j4kslyN84r-">
						<img src="/static/img/video-icon.png" class="vdo-btn" alt="">
					</a>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->

	<!--================Booking Area =================-->
	<section class="container">
		<div class="booking_area">
			<form action="">
				<div class="row">
					<div class="col-lg-3 col-sm-6 col-6">
						<div class="booking_item">
							<p>Check - in</p>
							<span class="day">15</span>
							<span class="month">th sep</span>
							<label for="CheckIn">
								<i class="fa fa-angle-down"></i>
							</label>
							<input type="date" class="form-control" name='CheckIn' id="CheckIn" aria-describedby="emailHelp">
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 col-6">
						<div class="booking_item">
							<p>Check - out</p>
							<span class="day">25</span>
							<span class="month">th sep</span>
							<label for="CheckOut">
								<i class="fa fa-angle-down"></i>
							</label>
							<input type="date" class="form-control" name='CheckOut' id="CheckOut" aria-describedby="emailHelp">
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 col-6">
						<div class="booking_item">
							<p>Toatal guests</p>
							<span class="day">00</span>
							<span class="month">person</span>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 col-6 coupon-code">
						<div class="booking_item">
							<p class="text-capitalize">
								<a style="color: rgb(2, 171, 2); text-decoration: none;" href="#">Got a Coupon Code?</a>
							</p>
							<button style="border-radius: 25px; background-color: rgb(2, 2, 198);" type="submit" class="main_btn text-uppercase">check availabity</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
	<!--================End Booking Area =================-->

	<!--================About Area =================-->
	<section class="about_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title">
						<div class="top-part">
							<p>About Us Our History Mission & Vision</p>
						</div>
						<h2>
							About Us Our History <br>
							Mission & Vision
						</h2>
						<div class="bottom_part">
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum error vel ad non sapiente dolores sunt asperiores quas, nulla ex dolore laboriosam corrupti dicta exercitationem sed perferendis eius facilis a!. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi placeat quisquam vitae qui iusto saepe voluptatum, mollitia iure laboriosam repudiandae id delectus earum tenetur illo consequatur nisi fugit ipsum molestiae!
							</p>
						</div>
						<a style="text-decoration: none;" href="#" class="main_btn mt-45">Request Custom Price</a>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="video_area" id="video">
						<img class="img-fluid" src="/static/img/video-1.jpg" alt="">
						<div class="overlay overlay-bg"></div>
						<a class="popup-youtube" href="https://youtu.be/OHvXGUTSMKI?si=ssGu2j4kslyN84r-">
							<img src="/static/img/video-icon-1.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End About Area =================-->

	<!-- Start Our Room Area -->
	<section class="our_room_area">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title">
						<div class="top-part">
							<p>Our Rooms</p>
						</div>
						<h2>Our Rooms</h2>
						<div class="bottom_part">
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt suscipit accusamus pariatur dolorem soluta labore non earum perspiciatis nulla, tempora dolores iure vero, quo quidem eius aut? Culpa, sint! Voluptas!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem temporibus possimus quia consequuntur dolore quaerat facere quae consequatur delectus neque ratione, modi voluptatem sequi id explicabo mollitia nesciunt. Debitis, nisi.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="room_left">
						<img class="img-fluid" src="/static/img/room/r1.jpg" alt="">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="owl-carousel owl-room">
						<div class="room_right">
							<h1 class="price">
								<i style="font-size: 34px;" class="fa fa-indian-rupee-sign"></i>250<span>/night</span>
							</h1>
							<h1 class="type">
								Double Deluxe Room
							</h1>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsum saepe omnis provident voluptatum maxime, odio quibusdam at natus, et asperiores dolores nulla quisquam rem. Distinctio culpa impedit quam quisquam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque sit assumenda dicta nam tenetur dolorum nihil quae expedita amet sunt perspiciatis atque est odit impedit, fuga dolorem? Esse, amet iusto!
							</p>
							<div class="row">
								<div class="col-lg-6 col-md-5">
									<ul>
										<li>Air Condition</li>
										<li>Car Parking</li>
										<li>Swimming Pool</li>
									</ul>
								</div>
								<div class="col-lg-6 col-md-5">
									<ul>
										<li>Restaurant & Bar</li>
										<li>Vehicle Rental</li>
										<li>Free Meal</li>
									</ul>
								</div>
							</div>
							<a style="background-color: rgb(2, 169, 2); border: 0px solid; text-decoration: none;" href="#" class="main_btn">Book Now</a>
						</div>

						<div class="room_right">
							<h1 class="price">
								<i style="font-size: 34px;" class="fa fa-indian-rupee-sign"></i>250<span>/night</span>
							</h1>
							<h1 class="type">
								Double Deluxe Room
							</h1>
							<p>
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae officiis corrupti quisquam autem totam aspernatur cum nulla, rerum optio quaerat voluptate cumque omnis delectus similique libero, itaque eum, inventore a?. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum dolores fuga, officiis veniam est quidem deserunt sed a expedita nulla accusantium officia cum illum alias quos, impedit voluptatibus quas quam.
							</p>
							<div class="row">
								<div class="col-lg-6 col-md-5">
									<ul>
										<li>Air Condition</li>
										<li>Car Parking</li>
										<li>Swimming Pool</li>
									</ul>
								</div>
								<div class="col-lg-6 col-md-5">
									<ul>
										<li>Restaurant & Bar</li>
										<li>Vehicle Rental</li>
										<li>Free Meal</li>
									</ul>
								</div>
							</div>
							<a style="background-color: rgb(2, 169, 2); border: 0px solid; text-decoration: none;" href="#" class="main_btn">Book Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Our Room Area -->

	<!--================Testimonials Area =================-->
	<section class="testimonials-area section_gap_top color-bg">
		<div class="container">
			<div class="text-center">
				<img class="quote-img" src="/static/img/quote.png" alt="">
			</div>
			<div class="testi-slider owl-carousel" data-slider-id="1">
				<div class="item">
					<div class="testi-item">
						<h4>Fidhaan</h4>
						<ul class="list">
							<li><a href="{% url 'home' %}"><i class="fa fa-star"></i></a></li>
							<li><a href="{% url 'home' %}"><i class="fa fa-star"></i></a></li>
							<li><a href="{% url 'home' %}"><i class="fa fa-star"></i></a></li>
							<li><a href="{% url 'home' %}"><i class="fa fa-star"></i></a></li>
							<li><a href="{% url 'home' %}"><i class="fa fa-star"></i></a></li>
						</ul>
						<div class="wow fadeIn" data-wow-duration="1s">
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi placeat ab omnis, illo beatae ullam laborum odio, repellendus sit dignissimos ducimus deserunt nobis amet modi rem voluptas debitis inventore nostrum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, porro. Maxime illum architecto officia, corporis blanditiis dignissimos iusto repellendus repudiandae fugit quae. Autem necessitatibus minus officiis, maiores excepturi consectetur assumenda.
							</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testi-item">
						<h4>Ashwin</h4>
						<ul class="list">
							<li><a href="{% url 'home' %}"><i class="fa fa-star"></i></a></li>
							<li><a href="{% url 'home' %}"><i class="fa fa-star"></i></a></li>
							<li><a href="{% url 'home' %}"><i class="fa fa-star"></i></a></li>
							<li><a href="{% url 'home' %}"><i class="fa fa-star"></i></a></li>
							<li><a href="{% url 'home' %}"><i class="fa fa-star"></i></a></li>
						</ul>
						<div class="wow fadeIn" data-wow-duration="1s">
							<p>
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi explicabo delectus, dolores commodi odio eos nulla eius ipsum ratione nisi quos! Voluptate repellendus quis dicta excepturi sapiente, atque illo minima. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam necessitatibus omnis quis nobis architecto corrupti modi totam fugiat recusandae accusamus, nulla expedita quam magnam, eligendi, aspernatur dolorem hic facilis similique.
							</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testi-item">
						<h4>Karthik</h4>
						<ul class="list">
							<li><a href="{% url 'home' %}"><i class="fa fa-star"></i></a></li>
							<li><a href="{% url 'home' %}"><i class="fa fa-star"></i></a></li>
							<li><a href="{% url 'home' %}"><i class="fa fa-star"></i></a></li>
							<li><a href="{% url 'home' %}"><i class="fa fa-star"></i></a></li>
							<li><a href="{% url 'home' %}"><i class="fa fa-star"></i></a></li>
						</ul>
						<div class="wow fadeIn" data-wow-duration="1s">
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, voluptatibus quidem voluptates blanditiis recusandae, libero unde quaerat numquam a cupiditate culpa sequi quia, vitae optio veniam fugiat possimus cum eligendi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error accusamus cum blanditiis, suscipit, hic voluptatem id consequatur architecto nisi sequi vel omnis vero tenetur iusto maxime impedit sit rerum officia.
							</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testi-item">
						<h4>Ashwathy</h4>
						<ul class="list">
							<li><a href="{% url 'home' %}"><i class="fa fa-star"></i></a></li>
							<li><a href="{% url 'home' %}"><i class="fa fa-star"></i></a></li>
							<li><a href="{% url 'home' %}"><i class="fa fa-star"></i></a></li>
							<li><a href="{% url 'home' %}"><i class="fa fa-star"></i></a></li>
							<li><a href="{% url 'home' %}"><i class="fa fa-star"></i></a></li>
						</ul>
						<div class="wow fadeIn" data-wow-duration="1s">
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, voluptatibus quidem voluptates blanditiis recusandae, libero unde quaerat numquam a cupiditate culpa sequi quia, vitae optio veniam fugiat possimus cum eligendi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error accusamus cum blanditiis, suscipit, hic voluptatem id consequatur architecto nisi sequi vel omnis vero tenetur iusto maxime impedit sit rerum officia.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="owl-thumbs d-flex justify-content-center" data-slider-id="1">
				<div class="owl-thumb-item">
					<div>
						<img class="img-fluid" src="/static/img/testimonial/t1.png" alt="">
					</div>
					<div class="overlay overlay-grad"></div>
				</div>
				<div class="owl-thumb-item">
					<div>
						<img class="img-fluid" src="/static/img/testimonial/t2.png" alt="">
					</div>
					<div class="overlay overlay-grad"></div>
				</div>
				<div class="owl-thumb-item">
					<div>
						<img class="img-fluid" src="/static/img/testimonial/t3.png" alt="">
					</div>
					<div class="overlay overlay-grad"></div>
				</div>
				<div class="owl-thumb-item">
					<div>
						<img class="img-fluid" src="/static/img/testimonial/t4.png" alt="">
					</div>
					<div class="overlay overlay-grad"></div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Testimonials Area =================-->

	<!--================Latest Blog Area =================-->
	<section class="latest_blog_area section_gap color-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title">
						<p class="text-uppercase">Our Blog Posts</p>
						<h2>
							Our Blog Posts
						</h2>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero pariatur eum ea quis minus perspiciatis quod, maiores laudantium deserunt culpa vel! Temporibus corrupti reiciendis ab odio tempora praesentium impedit facilis!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nesciunt minima quis adipisci quos suscipit animi odit! Aperiam quae similique error, earum odio eos porro voluptates, consequatur eaque odit unde.
						</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="single-recent-blog col-lg-4 col-md-6">
					<div class="thumb">
						<img class="f-img img-fluid mx-auto" src="/static/img/b1.jpg" alt="">
					</div>
					<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
						<div>
							<a style="text-decoration: none;" href="{% url 'home' %}" class="main_btn">Travel</a>
						</div>
						<div class="meta">
							<span>30th Sep, 2018</span>
							<span>02 Comments</span>
						</div>
					</div>
					<a style="text-decoration: none;" href="{% url 'home' %}">
						<h4 >Low Cost Advertising let us know
							the side effect of printing</h4>
					</a>
					<p>
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates blanditiis reiciendis facilis est eos deleniti vel dolorum, accusamus itaque alias magni corporis consectetur odit quia aliquid vero amet repellat tempora!
					</p>
				</div>
				<div class="single-recent-blog col-lg-4 col-md-6">
					<div class="thumb">
						<img class="f-img img-fluid mx-auto" src="/static/img/b2.jpg" alt="">
					</div>
					<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
						<div>
							<a style="text-decoration: none;" href="{% url 'home' %}" class="main_btn">Travel</a>
						</div>
						<div class="meta">
							<span>30th Sep, 2018</span>
							<span>02 Comments</span>
						</div>
					</div>
					<a style="text-decoration: none;" href="{% url 'home' %}">
						<h4 >Low Cost Advertising let us know
							the side effect of printing</h4>
					</a>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit debitis molestias quis vitae a nobis perferendis expedita, animi mollitia cupiditate dolore, provident nulla doloremque optio nam eum laboriosam sint. Rem!
					</p>
				</div>
				<div class="single-recent-blog col-lg-4 col-md-6">
					<div class="thumb">
						<img class="f-img img-fluid mx-auto" src="/static/img/b3.jpg" alt="">
					</div>
					<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
						<div>
							<a style="text-decoration: none;" href="{% url 'home' %}" class="main_btn">Travel</a>
						</div>
						<div class="meta">
							<span>30th Sep, 2018</span>
							<span>02 Comments</span>
						</div>
					</div>
					<a style="text-decoration: none;" href="{% url 'home' %}">
						<h4 >Low Cost Advertising let us know
							the side effect of printing</h4>
					</a>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam cupiditate nam reiciendis est sequi, deleniti ea perferendis sapiente autem veritatis voluptas facere asperiores excepturi libero, adipisci quisquam vero animi! Quam!
					</p>
				</div>
			</div>
		</div>
	</section>
	<!--================End Latest Blog Area =================-->
{% endblock %}